/* css styles */
h1,
h2 {
    border-bottom: 0px;
}

/* links in text */
a {
    position: relative;
    box-shadow: inset 0 -2px 0 var(--brand-gs-pink);

}

a:hover {
    /*hard coded pink 50%*/
    box-shadow: inset 0 -8px 0 rgba(210, 0, 100, .5);

}

header a,
.author a {
    color: var(--brand-gs-black);
    box-shadow: none;
}

header a:hover,
.author a:hover {
    color: var(--brand-gs-black);
    box-shadow: none;
}

/* Italic text */
em {
    font-style: italic;
}

/* Bold text */
strong {
    font-weight: bold;
}

/* navbar */
.navbar-logo {
    max-height: 4rem;
}

.navbar {
    border-bottom: 1px solid var(--brand-gs-light);
}

.navbar-nav .nav-link {
    width: 100%;
    background-color: #fff;
    color: var(--brand-gs-pink);
    border-radius: 1rem 1rem 1rem 1rem;
    text-align: left;
    padding: 0.75rem 1rem;
    border: none;
    font-family: Cabin;
    font-weight: 700;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--brand-gs-darkblue);
}

.navbar-nav .nav-link:hover {
    background-color: var(--brand-gs-lightblue--14);
    color: var(--brand-gs-darkblue);
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    background-color: var(--brand-gs-lightblue--14) !important;
    color: var(--brand-gs-darkblue) !important;
}

/* banner */
.quarto-title-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* TOC */
nav#TOC ul li a {
    display: block;
    border-top: 1px solid var(--brand-gs-darkblue);
    padding: .3em .2em;
    display: flex;
    align-items: baseline;
    box-shadow: none !important;
    border-left: none;
}

nav#TOC ul li a:before {
    content: "→";
    margin-right: 8px;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--brand-gs-pink);
}

nav#TOC ul li a:hover {
    background-color: var(--brand-gs-light);
}

/* Tabset */
.panel-tabset .nav-tabs {
    justify-content: center;
    background-color: var(--brand-gs-berry--14);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1.5rem;
    padding: 1.3rem;
    border-top-right-radius: var(--brand-default-border-radius);
    border-top-left-radius: var(--brand-default-border-radius);
    margin-bottom: calc(1rem/3);
}

.panel-tabset .nav-tabs .nav-link {
    background-color: white;
    color: var(--brand-gs-berry);
    border-radius: 9999999px;
    font-weight: 700;
    border: 3px solid var(--brand-gs-berry);
    margin: 0 5px;
    padding: .7rem 1.7rem .6rem;
    box-shadow: none !important;
}

/* Active state styling */
.panel-tabset .nav-tabs .nav-link.active {
    background-color: var(--brand-gs-berry);
    color: #fff;
    box-shadow: none !important;
}

/* Hover effect for nav items */
.panel-tabset .nav-tabs .nav-link:hover {
    background-color: var(--brand-gs-berry);
    color: #fff;
}

.tab-content {
    background-color: #f4f4f4;
    border-bottom-right-radius: var(--brand-default-border-radius);
    border-bottom-left-radius: var(--brand-default-border-radius);
}

/* lists */
ul>li,
ol>li {
    margin: .5em 0;
    padding-left: .375em;

}

li::marker {
    color: var(--brand-gs-pink);
}

/* Custom callouts */
div.callout-warning.callout {
    border-left-color: var(--brand-gs-orange);
}

div.callout-warning.callout-style-default>.callout-header {
    background-color: var(--brand-gs-orange--14);
}

div.callout-note.callout {
    border-left-color: var(--brand-gs-darkblue);
}

div.callout-note.callout-style-default>.callout-header {
    background-color: var(--brand-gs-darkblue--14);
}

div.callout-tip.callout {
    border-left-color: var(--brand-gs-turquoise);
}

div.callout-tip.callout-style-default>.callout-header {
    background-color: var(--brand-gs-turquoise--14);
}

div.callout-caution.callout {
    border-left-color: var(--brand-gs-rust);
}

div.callout-caution.callout-style-default>.callout-header {
    background-color: var(--brand-gs-rust--14);
}

div.callout-important.callout {
    border-left-color: var(--brand-gs-rust);
}

div.callout-important.callout-style-default>.callout-header {
    background-color: var(--brand-gs-rust--14);
}

/* cards */

.gesis-card-orange {
    background-color: var(--brand-gs-orange);
    color: #fff;
    border-radius: 1rem;
}

.gesis-card-rust {
    background-color: var(--brand-gs-rust);
    color: #fff;
    border-radius: 1rem;
}

.gesis-card-turquoise {
    background-color: var(--brand-gs-turquoise);
    color: #fff;
    border-radius: 1rem;
}

.gesis-card-turquoise {
    background-color: var(--brand-gs-turquoise);
    color: #fff;
    border-radius: 1rem;
}

.gesis-card-berry {
    background-color: var(--brand-gs-berry);
    color: #fff;
    border-radius: 1rem;
}


.gesis-card-orange p,
.gesis-card-rust p,
.gesis-card-berry p,
.gesis-card-turquoise p {
    padding: 1.5rem 2rem;
}

.card-header {
    border-bottom: 3px solid #fff;
    padding: 1.5rem 2rem;
    color: #fff;
    font-weight: 700;
}

.collapse-bg {
    background-color: var(--brand-gs-default-grey);
    padding: 1.5rem 2rem;
}

.collapse.show {
    transition-duration: 0s;
}

.collapse-button {
    width: 100%;
    background-color: var(--brand-gs-default-grey);
    color: var(--brand-gs-berry);
    border-radius: 1rem 1rem 0 0;
    text-align: left;
    padding: 0.75rem 1rem;
    border: none;
    font-weight: 700;
}

.collapse-button:hover,
.collapse-button:focus,
.collapse-button:active {
    background-color: var(--brand-gs-berry) !important;
    color: #fff !important;
}

.collapse-button::before {
    content: "►";
    display: inline-block;
    margin-right: 0.5rem;
    transition: transform 0.3s ease;
}

.collapse-button[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.collapse-button[aria-expanded="true"] {
    background-color: var(--brand-gs-berry) !important;
    color: #fff !important;
}